body{
    background-color:#fbf4e4;
}

h1{
    text-align:center;
    font-family: "Sevillana", cursive;
    font-size:50px;
}

img{
    width:260px;
    height:350px;
    box-shadow: black 5px 5px;
}

#Rmovies{
    display:flex;
    padding:40px;
    gap:50px;
}