/* font-family: "Old Standard TT", serif; - paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "UoqMunThenKhung", serif; - titles */
@import url('https://fonts.googleapis.com/css2?family=UoqMunThenKhung&display=swap');
body{
        background-color: #faf2e3;
}

.title{
    font-family: "UoqMunThenKhung", serif;
    font-size: 250px;
    margin-top:0px;
    
}

.aligningtitle{
    position: relative;
      font-size: 150px;
      font-weight: bold;
      color: black;
      text-align: center;
}

.image{
    position: absolute;
      top: 80px; /* adjust to place the image over the text */
      left: 50%;
      transform: translateX(-50%);
      width: 150px; /* adjust image size */
}

.abouttext{
    font-family: "Old Standard TT", serif;
    font-size:20px;
    margin-top:-100px;
}