* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fbf4e4;
  }
  
  h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 60px;
  }
  
  #Cmovies {
    display: flex;
    padding: 40px;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  
  .card {
    font-family: "Old Standard TT", serif;

    width: 260px;
    height: 350px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: rgb(144, 144, 144) 5px 5px 5px;

  }
  
  .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
  }

  .card-front{
    box-shadow: black 5px 5px 5px;
  }
  
  .card-back {
    
    background-color: #222;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
  }
  